body {
  color: #494949;
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: lighter;
  margin:0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.banner {
  background-image: url(https://source.unsplash.com/random);
  background-size: cover;
  background-position: center;
  padding: 150px 100px;
  color: white;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin: 50px 0px;
}

.text_left {
  text-align: left;
}

a {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #494949;
  font-style: italic;
  font-size: 25px;
  font-weight: lighter;
}

a:hover {
  background-image: linear-gradient(to bottom, rgb(126, 245, 167), rgb(126, 245, 167));;
}

.banner p {
  font-style: italic;
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.8;
}
